Quartus/MAX7000CPU_ALC/simulation/
Quartus/MAX7000CPU_ALC/incremental_db/
Quartus/MAX7000CPU_ALC/boundaryScan/test.ahk
Quartus/MAX7000CPU_ALC/boundaryScan/upload.ahk
Quartus/MAX7000CPU_ALC/boundaryScan/out.bin
Quartus/MAX7000CPU_ALC/output_files
Quartus/MAX7000CPU_ALC/db
